@charset "UTF-8";
@use "common/import" as *;

.header {
    position: relative;

    &-nav{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        color: #ffffff;
    }

    &-mv {
        height: 100vh;
        overflow: hidden;

        @keyframes zoom {
            from {
                transform: scale(1.3);
            }

            to {
                transform: scale(1);
            }
        }

        //Prevスライド
        .swiper-slide-prev,
        //Activeスライド
        .swiper-slide-active,
        //ループ時に複製される正面のスライド
        .swiper-slide-duplicate-active {
            img {
                animation-name: zoom;
                animation-duration: 10s;
                animation-fill-mode: forwards;
            }
        }

        &_image {
            align-items: center;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100vh;
            justify-content: flex-end;
            opacity: 1;
            overflow-x: hidden;
            overflow-y: hidden;
            transition-duration: 1000ms;
            width: 100%;
            max-width: 100%;
        }
    }
}
