@charset "UTF-8";
@use "common/import" as *;

.p-header {
    position: relative;

    &-text {
        color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        writing-mode: vertical-rl;
        font-size: rem(32);
        font-weight: bold;
        padding-top: rem(32);
        padding-left: rem(32);
    }

    &-nav {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        color: #ffffff;

        &__cont {
            display: flex;
            flex-direction: row;
            justify-content: center;
            left: auto;
            position: absolute;
            right: 0px;
            top: 0px;
            width: auto;
            z-index: 2;
            max-width: 100%;
            gap: 16px;
            padding-top: rem(32);
            padding-right: rem(70);

            &-item {
                &-link {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    line-height: 1.5;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    &-mv {
        height: 100vh;
        overflow: hidden;
        position: relative;

        &__bg {
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
        }

        @keyframes zoom {
            from {
                transform: scale(1.3);
            }

            to {
                transform: scale(1);
            }
        }

        //Prevスライド
        .swiper-slide-prev,
        //Activeスライド
        .swiper-slide-active,
        //ループ時に複製される正面のスライド
        .swiper-slide-duplicate-active {
            img {
                animation-name: zoom;
                animation-duration: 10s;
                animation-fill-mode: forwards;
            }
        }
    }
}
