@charset "UTF-8";
@use "common/import" as *;

@use "header" as *;
@use "top" as *;

html {
  font-family: 'Zen Kaku Gothic New';
  * {
      font-style: normal;
  }
}

img {
  width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
