@charset "UTF-8";
@use "common/import" as *;

.top {
    &-mv {
        height: 100vh;
        overflow: hidden;

        .swiper-slide-active {
            animation: zoomUp 10s linear 0s 1 normal both;
        }

        &_image {
            align-items: center;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100vh;
            justify-content: flex-end;
            opacity: 1;
            overflow-x: hidden;
            overflow-y: hidden;
            transition-duration: 1000ms;
            width: 100%;
            max-width: 100%;
        }
    }
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}
